/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #002339;
    color: #fff;
}
/* Container */
.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
/* Title */
.container h1 {
    font-weight: 500;
    font-size: 45px;
}
.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
/* Input parent */
.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
/* Input */
.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    text-indent: 10px;
    width: 80%;
}
/* Copy button */
.display span {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}
.display span:active, .display span:focus {
    color: #019f55;
}
/* Generate button */
.container button {
    border: 0;
    outline: 0;
    font-size: 22px;
    background: #008648;
    color: #fff;
    font-weight: 500;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover {
    background: #00763f;
}
.container button:active {
    background: #00522c;
}
/* Responsive media queries */
@media (max-width: 900px) {
    .container {
        margin: 0 auto;
        margin-top: 8rem;
    }
}
@media (max-width: 600px) {
    .container h1 {
        font-size: 35px;
    }
    .container button {
        width: 100%;
    }
} 